.broadcastProgramWidget {
	margin: 0 9% 0 0
}

.broadcastProgramWidget .gwt-Label {
	margin: 8px;
	font-size: 1.4em;
	text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.vaidyaHammedInputItemWidget .gwt-Label {
	margin: 2px;
	font-size: 1.1em;
}

.probabilityInverseBroadcactFrequencyStepWidget .passed {
	background-color: #ff0;
}

.probabilityInverseBroadcactFrequencyStepWidget .current {
	background-color: #0ff;
}

.probabilityInverseBroadcactFrequencyStepWidget .step {
	font-size: 1.3em;
}

.probabilityInverseBroadcactFrequencyStepWidget .gwt-Label {
	font-size: 1.2em;
}